/* Estilos para el título de la canción */
h1 {
font-size: 2em;
font-weight: bold;
color: red;
}

/* Estilos para el autor de la canción */
h2 {
font-style: italic;
color: orange;
}

/* Estilos para los versos */
.verso {
font-family: serif;
margin-bottom: 10px;
color: #000000;
}

/* Estilos para el número de estrofas*/
estrofa::before {
counter-increment: estrofa;
content: counter(estrofa);
font-weight: bold;
color: #8b0000;
}

/* Estilos para el número de versos*/
verso::before {
counter-increment: verso;
content: counter(estrofa) "." counter(verso);
font-weight: bold;
}

.letra ul {
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

.letra li {
display: inline-block;
padding: 10px;
}